<!DOCTYPE html>
<html lang="pt-br" ng-app="app">

<head>
    <meta http-equiv="expires" content ="0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Visualizador | Boxnet</title>

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/components-font-awesome/css/font-awesome.min.css?v=1487608310329">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css?v=1487608310329">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css?v=1487608310329">
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="contents/libs/photoswipe/photoswipe.css?v=1487608310329">
    <link rel="stylesheet" href="contents/libs/photoswipe/default-skin/default-skin.css?v=1487608310329">
    <link rel="stylesheet" href="contents/css/visualizacao.css?v=1487608310329">
    <!-- endinject -->


</head>

<body ng-controller="PageCtrl as page">

    <div id="page" class="no-touch">

        <vis-navbar></vis-navbar>

        <vis-body></vis-body>

        <vis-footer ng-if="!page.config.opcoes.prnewswire"></vis-footer>

        <!--Loading-->
        <div loading="page.config.loading"></div>

    </div>

    <!--[if lt IE 10]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="contents/js/jquery.min.js"></script>
    <script src="contents/js/xhr-xdr-adapter.js"></script>
    <script src="contents/js/getQueryString.js"></script>
    <script src="contents/js/ie8.js"></script>
    <![endif]-->

    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.min.js?v=1487608310329"></script>
    <script src="../bower_components/jquery-ui/jquery-ui.min.js?v=1487608310329"></script>
    <script src="../bower_components/es5-shim/es5-shim.min.js?v=1487608310329"></script>
    <script src="../bower_components/xhr-xdr-adapter/src/xhr-xdr-adapter.js?v=1487608310329"></script>
    <script src="../bower_components/angular/angular.min.js?v=1487608310329"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js?v=1487608310329"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js?v=1487608310329"></script>
    <script src="../bower_components/angular-route/angular-route.min.js?v=1487608310329"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js?v=1487608310329"></script>
    <!-- endinject -->


    <!-- inject:js -->
    <script src="contents/libs/photoswipe/photoswipe-ui-default.min.js?v=1487608310329"></script>
    <script src="contents/libs/photoswipe/photoswipe.customizado.js?v=1487608310329"></script>
    <script src="contents/libs/ui-bootstrap/ui-bootstrap-custom-tpls-0.12.1.js?v=1487608310329"></script>
    <script src="app.js?v=1487608310329"></script>
    <script src="app.core.js?v=1487608310329"></script>
    <script src="app/shared/services/amplitude.service.js?v=1487608310329"></script>
    <script src="app/shared/services/config.service.js?v=1487608310329"></script>
    <script src="app/shared/services/encaminhar.service.js?v=1487608310329"></script>
    <script src="app/shared/services/impresso.service.js?v=1487608310329"></script>
    <script src="app/shared/services/noticias.service.js?v=1487608310329"></script>
    <script src="app/shared/services/visualizacao.service.js?v=1487608310329"></script>
    <script src="app/core/page.controller.js?v=1487608310329"></script>
    <script src="app/core/body/integra.controller.js?v=1487608310329"></script>
    <script src="app/core/body/integracao.controller.js?v=1487608310329"></script>
    <script src="app/core/body/padrao.controller.js?v=1487608310329"></script>
    <script src="app/core/navbar/navbar.controller.js?v=1487608310329"></script>
    <script src="app/core/navbar/modals/download.controller.js?v=1487608310329"></script>
    <script src="app/core/navbar/modals/encaminhar.controller.js?v=1487608310329"></script>
    <script src="app/core/navbar/modals/similares.controller.js?v=1487608310329"></script>
    <script src="app/core/body/body.directive.js?v=1487608310329"></script>
    <script src="app/core/body/integra.directive.js?v=1487608310329"></script>
    <script src="app/core/body/integracao.directive.js?v=1487608310329"></script>
    <script src="app/core/body/padrao.directive.js?v=1487608310329"></script>
    <script src="app/core/footer/footer.directive.js?v=1487608310329"></script>
    <script src="app/core/navbar/navbar.directive.js?v=1487608310329"></script>
    <script src="app/shared/directives/disableAnimation.directive.js?v=1487608310329"></script>
    <script src="app/core/body/midias/midias.directive.js?v=1487608310329"></script>
    <script src="app/core/body/partials/carousel.directive.js?v=1487608310329"></script>
    <script src="app/core/body/partials/nextprev.directive.js?v=1487608310329"></script>
    <script src="app/core/body/partials/photoswipe.directive.js?v=1487608310329"></script>
    <script src="app/shared/directives/imagem/imagem.directive.js?v=1487608310329"></script>
    <script src="app/shared/directives/loading/loading.directive.js?v=1487608310329"></script>
    <script src="app/shared/filters/filters.js?v=1487608310329"></script>
    <!-- endinject -->

    <!--Amplitude-->
    <script src="contents/js/amplitude.js"></script>

</body>

</html>
